*{
    box-sizing: border-box;
}
:root{
}
body{
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar{
    padding: 12px;
    margin: 12px;
    background-color: #151515;
    display:flex;
    flex-direction: column;
    border-radius: 12px;

    max-width: 200px;
}
.Text-Menu{
    display: flex;
    gap: 12px;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    padding: 12px;
}
.List-Menu{
    display: flex;
    flex-direction: column;
    padding: 12px 0 ;
    gap: 24px;
    align-items: stretch;
    border-radius: 12px;
}
.List-Menu a{
    display: flex;
    gap:6px;
    text-decoration: none;
    color: white;
    padding: 12px;
    border-radius: 12px;
}
@media (max-width:900px){
    .sidebar{
        max-width: 60px;
        padding: 0;
    }
    .Text-Menu{
        font-size: 20px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .List-Menu{
        padding: 12px 0;
    }
    .List-Menu a {
        margin: 0 auto;
    }
    .text-item{
        display: none;
    }
}
@media (max-width:600px){
    .sidebar{
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr;
        max-width: 100%;
        gap:12px;
    }
    .Text-Menu{
        margin-left: 6px;
        margin-bottom: 0;
        font-size: 20px;
    }
    .List-Menu{
        padding: 12px;
        display: flex;
        flex-direction: row;
        font-size: 16px;
        justify-content: space-between;
        border: 2px solid white;
        overflow: hidden;
    }
    .text-item{
        display: none;
    }
}
.List-Menu a:hover{
    background-color: gray;
}