* {
  box-sizing: border-box;
}
body {
  background-color: blanchedalmond;
  font-family: Arial, Helvetica, sans-serif;
  color: brown;
  font-size: 15px;
}
.dashboard {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "sidebar footer";
  gap: 24px;
  min-height: 100vh;
}
.sidebar {
  grid-area: sidebar;
}
.header {
  grid-area: header;
  background-color: aliceblue;
  border-radius: 15px;
}
.content {
  grid-area: content;
}
.footer {
  grid-area: footer;
}

.sidebar {
  background-color: rgb(239, 212, 212);
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: stretch;
}
.sidebar>button {
  margin-top: auto;
}
.content button{
  margin-top: auto;
  width: fit-content;
}
.Menu {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 12px;
}
.Menu > a,
.Tai-khoan > a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 5px;
  background-color: brown;
  padding: 8px 12px;
  color: wheat;
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: scale 0.15s;
}
button {
  margin: 12px 12px;
  background-color: brown;
  padding: 8px 8vh;
  color: wheat;
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: scale 0.15s;
}
.header {
  text-align: center;
  font-size: 20px;
}
.page {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    "h2 h2"
    "poster info"
    "related related";
  padding: 20px;
  background-color: aliceblue;
  border-radius: 12px;
  gap: 23px;
}
h2 {
  grid-area: h2;
  text-align: center;
}
.poster {
  grid-area: poster;
}
.info {
  grid-area: info;
}
.related {
  grid-area: related;
}
.poster > img {
  max-width: 100%;
  border: 2px solid black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: scale 0.15s;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 100%;
  padding: 12px;
  background-color: bisque;
  border-radius: 12px;
}
.related-gird {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  gap: 12px;
  margin-top: 8px;
}
.related-gird > span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background-color: blanchedalmond;
  padding: 12px;
  margin: 0 auto;
  border-radius: 12px;
  transition: scale 0.15s;
}
.footer {
  background-color: aliceblue;
  padding: 12px;
  border-radius: 12px;
}
a {
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.content a:hover{
  text-decoration: underline;
}
.Menu>a:hover {
  scale: 1.05;
}
.Tai-khoan>a:hover{
  scale: 1.05;
}
button:hover {
  scale: 1.05;
}
img:hover {
  scale: 1.02;
  border: 2px solid seagreen;
}
.related-gird > span:hover {
  scale: 1.02;
  border: 2px solid seagreen;
  border-radius: 5px;
  cursor: pointer;
}
