* {
  box-sizing: border-box;
}
body {
  background-color: rgb(3, 1, 29);
  color: #ffe;
  font-family: Arial, Helvetica, sans-serif;
}
.Nav {
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgba(241, 237, 237, 0.593);
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  flex-wrap: wrap;
  gap: 20px;
}
.logo {
  flex: 1;
}
a {
  color: #ffe;
  text-decoration: none;
  border: 1px solid white;
  padding: 3px 8px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(241, 237, 237, 0.593);
  flex: 1;
  text-align: center;
  transition: 0.15s;
}
.Login-Register a {
  background-color: #ffe;
  color: rgb(3, 1, 29);
}
.Menu a:hover {
  background-color: #ffe;
  color: rgb(3, 1, 29);
}
a:hover {
  scale: 105%;
}
