body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
}
h1 {
  text-align: center;
}
form {
  min-height: 400px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid;
  padding: 12px;
  border-radius: 12px;
  background-color: azure;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  flex-wrap: wrap;
}
.content {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 12px;
}
p {
  font-size: 24px;
  flex: 1;
}
.span-quote {
  width: 100%;
  font-size: 16px;
  text-align: right;
  margin-right: 20px;
}
button{
  padding: 3px 6px;
  border-radius: 6px;
  position: sticky;
  top: 100%;
  left: 100%;
  background-color: blanchedalmond;
  width: fit-content;
  cursor: pointer;
}
button:hover {
  scale: 1.02;
}
footer {
  text-align: center;
}
.content-user{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
}
