*{box-sizing: border-box;}
body{
    background-color: #121212;
    color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:24px;
    padding: 12px;
    overflow: hidden;
    height: fit-content;
}
.nav a{
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 12px;
    background-color: #f8f8f8;
    color: #121212;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    transition: scale 0.15s;
}
.nav a:hover{
    scale: 1.05;
}